/* GLOBAL SETTINGS */

@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');

* {
    box-sizing: border-box
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca', sans-serif;
    color: #3a4750;
}

figure {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease;
}

a:hover {
    color: #4ecca3;
}

/* SCROLL SNAP */

.container {
    overflow: scroll;
    width: 100vw;
    height: 100vh;
    scroll-snap-type: y mandatory;
}

/* SECTION SETTINGS */

.portfolio-section {
    width: 100vw;
    height: 100vh;
    scroll-snap-align: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 5%;
}

/* START SECTION */

#start-section {
    background: #e8ecf1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* START SECTION: IMAGE */

#steve-frenzel-image {
    width: 400px;
    border-radius: 40px 0px 40px 0px;
    box-shadow: 10px 10px 50px;
}

/* START SECTION: TEXT */

#start-text > h1 {
    font-size: 3rem;
}

#start-text > h2 {
    font-size: 2.5rem;
}

/* START SECTION: SYMBOLS & LINKS */

#start-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.symbol-and-link {
    display: flex;
    align-items: center;
    font-size: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
}

.symbol-and-link > p {
    margin: 0;
    padding-left: 10px;
}

#github,
#resume {
    margin-left: 30px;
}

/* PROJECTS SECTION */

#projects-section {
    background: #b5cfd8;
}

#projects-section > h1 {
    margin: 0;
}

/* SKILLS SECTION */

#skills-section {
    background: #7393a7;
}

#skills-section > h1 {
    margin: 0;
}

/* MEDIA QUERIES */

@media (max-width: 1100px) {
    #start-section {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 700px) {
    #start-section {
        flex-direction: column;
    }

    #steve-frenzel-image {
        width: 200px;
    }

    #start-text > h1 {
        font-size: 2rem;
    }

    #start-text > h2 {
        font-size: 1.5rem;
    }

    #start-links {
        width: 200px;
    }

    .symbol-and-link {
        font-size: 1.5rem;
        padding-left: 20px;
    }

    #github,
    #resume {
        margin-left: 0px;
    }

    .wrapper {
        align-items: center;
    }

}