* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Space Mono", monospace;
    background-color: #000;
    color: #fff;
}

h1 {
    font-size: 60px;
}

p {
    font-size: 40px;
}

a {
    text-decoration: none;
    color: tomato;
}

.wrapper {
    text-align: center;
}

.fab {
    font-size: 200px;
    color: tomato;
}

.paragraph_container {
}
